<template>
    <div>
        <canvas ref="canvas" />
        <div class="flex">
            Bla
        </div>
    </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import * as game from '~/game'

export default Vue.extend({
    mounted() {
        game.setup({
            canvas: this.$refs.canvas as HTMLCanvasElement,
            window,
        })
    }
})
</script>
